/outputs/
/dataset/
/masked_baseline/mask_vis/
masked_baseline/latest.pth
/pretrain_tw/
/masked_baseline/
/base_transweather_5ep/best
/base_transweather_5ep/latest
/allweather
/selective_run_01
/selective_run_02
/selective_run_03